{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col">
            <a class="btn btn-success" href="/invoice">Faktury</a>
        </div>
    </div>
{% endblock %}
